server:
  port: 9000
  ssl:
    enabled: true
    key-store: classpath:certificates/authserver-keystore.p12
    key-store-password: ${KEYSTORE_PASSWORD}

spring:
  application:
    name: authorization-server

  datasource:
    url: jdbc:postgresql://localhost:5432/authserver_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

authorization-server:
  issuer: https://auth.banco.com.br
  jwks-endpoint: ${authorization-server.issuer}/oauth2/jwks

logging:
  level:
    org.springframework.security: DEBUG
