<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TPP Cliente - Open Finance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuaOmLCAo" crossorigin="anonymous" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="text-center">Bem-vindo ao TPP Open Finance</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead text-center">Acesse sua conta bancária de forma segura através do Open Finance</p>
                        <div class="d-grid gap-2 col-6 mx-auto mt-4">
                            <a href="/oauth2/authorization/tpp-client" class="btn btn-primary btn-lg">Entrar com sua conta bancária</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
